.products {
    background-color: aqua;
    margin: 20px;
    padding: 10px;
    /* list-style-type: none; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.products__single {
    background-color: rgb(149, 179, 202);
    height: 500px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    /* margin-bottom: 10px; */
  

}

.products__single >img{
    width: 100%;
    height: 95%;
    object-fit: cover;
    margin-bottom: 3px;
}

.pagination{
    margin: 15px 0;
    padding: 10px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination > span{
    padding: 15px 20px;
    border: 1px solid black;
    cursor: pointer;

}

.pagination__selected{
    background-color: rebeccapurple;
}


.pagination__disable{
    opacity: 0;
}